{% extends 'base.html' %}

{% block content %}
<div class="product-detail-container">
    <div class="product-detail-card" style="max-width: 500px; margin: 0 auto; text-align: center;">
        <h1 class="detail-title">📧 Лист відправлено!</h1>
        <hr style="opacity: 0.1; margin-bottom: 20px;">
        
        <p style="color: #ecf0f1; font-size: 1.1em; margin-bottom: 20px;">
            Ми надіслали інструкції зі скидання пароля на вказану електронну адресу. 
            Якщо листа немає, перевірте папку "Спам".
        </p>
        <a href="{% url 'home' %}" class="cart-btn" style="text-decoration: none;">На головну</a>
    </div>
</div>
{% endblock %}