{% extends 'base.html' %}

{% block content %}
<div class="product-detail-container">
    <div class="product-detail-card" style="max-width: 400px; margin: 0 auto;">
        <h1 class="detail-title" style="text-align: center;">Відновлення пароля</h1>
        <hr style="opacity: 0.1; margin-bottom: 20px;">
        
        <p style="color: #bdc3c7; text-align: center; margin-bottom: 20px;">
            Введіть ваш Email, і ми надішлемо вам інструкцію для відновлення пароля.
        </p>

        <form method="post" class="add-to-cart-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="cart-btn" style="width: 100%; margin-top: 15px;">Надіслати лист</button>
        </form>
    </div>
</div>
{% endblock %}